
section {
  margin-top:em(70px);
  margin-bottom:em(70px);
}
.content {
  background-color: #fff;

}
.box {
 border-top: 3px solid #dddddd;

}
.box-primary {

  border-top: 3px solid #3C8DBC;

}
.box-body {
  margin-top: em(20px);

}

.sort {
  color: #3C8DBC;
}

.sort:hover {
  cursor:pointer;
}

h1{
  margin-bottom: em(20px);
}



